<body id="home">
	<div id="wrapper">
		<!-- insert the name of student here !-->
		<span id="name">Logged in as: JUAN DELA CRUZ, 2nd Year</span>
		<div id="menu">
			<img src="/img/ncshs.gif" id="logo"/>
		</div>
		<div id="form2">
			<a href="#" class="menuitem" id="current">HOME</a>
			<a href="#" class="menuitem">GRADES</a>
			<a href="#" class="menuitem">SCHEDULE</a>
			<a href="#" class="menuitem">CURRICULUM</a>
			<a href="#"><img src="/img/out.png" id="logout"/></a>
		</div>
		
		<div id="content">
			<p class="title">Announcements</p>

			<p class="headline">Lorem Ipsum</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id tellus orci. Aenean euismod faucibus velit, vitae convallis sem malesuada eu. Vestibulum accumsan, tortor eu malesuada commodo, mi odio varius neque, vel cursus erat tellus nec leo. Nullam varius hendrerit nibh vel viverra. Nullam tempor sapien dui. <a href="#">Continue reading...</a></p>

			<p class="headline">Lorem Ipsum</p>
			<p>Pellentesque imperdiet magna vehicula sagittis volutpat. Nam pellentesque dapibus elit et congue. Maecenas ut varius nisi. Vivamus consectetur urna at augue laoreet fringilla. Integer egestas mauris ut condimentum efficitur. Pellentesque gravida non velit a auctor. Vivamus rutrum quam ut iaculis hendrerit. Vestibulum aliquam aliquam rutrum. Cras eu sapien et ipsum porta facilisis. Nulla a viverra massa. <a href="#">Continue reading...</a></p>

			<p class="headline">Lorem Ipsum</p>
			<p>Pellentesque imperdiet magna vehicula sagittis volutpat. Nam pellentesque dapibus elit et congue. Maecenas ut varius nisi. Vivamus consectetur urna at augue laoreet fringilla. Integer egestas mauris ut condimentum efficitur. Pellentesque gravida non velit a auctor. Vivamus rutrum quam ut iaculis hendrerit. Vestibulum aliquam aliquam rutrum. Cras eu sapien et ipsum porta facilisis. Nulla a viverra massa. <a href="#">Continue reading...</a></p>

			<p class="headline">Lorem Ipsum</p>
			<p>Pellentesque imperdiet magna vehicula sagittis volutpat. Nam pellentesque dapibus elit et congue. Maecenas ut varius nisi. Vivamus consectetur urna at augue laoreet fringilla. Integer egestas mauris ut condimentum efficitur. Pellentesque gravida non velit a auctor. Vivamus rutrum quam ut iaculis hendrerit. Vestibulum aliquam aliquam rutrum. Cras eu sapien et ipsum porta facilisis. Nulla a viverra massa. <a href="#">Continue reading...</a></p>
					
		</div>
	</div>
</body>