<style>
	div#login
	{
		width: 50%;
		margin:auto;
		text-align:center;
	}
	
	img#loginlogo
	{
		width: 150px;
		height: auto;
		margin-left:15px;
	}
	a#no:hover
	{
		background: none;
	}
</style>

<div id="login">
<a href="/teachers/login" id="no"><img src="/img/student_icon.png" id="loginlogo"/></a>
<h1>Log in as student</h1>
	<%= form_tag "/students/home" do %>
		<span class = "logintxt">ID Number</span>
		<%= text_field_tag :search_lrn%>
	<p></p>
	<span id = "logintxt">Password</span>
	<%= password_field_tag :search_pass%>
	<br><br>
	<%= submit_tag :"LOG IN"%>
						
	<% end %>
</div>