<body id="login">
	<div id = "login">
		<div id="form1">
			<img src="/img/ncshs.gif" id="logo"/>
			<form method="post" action="index.html">
				<span class = "logintxt">ID Number</span>
					<input type="text" name="idnumber" class="loginbox"/>
				<p></p>
				<span id = "logintxt">Password</span>
					<input type="password" name="password" class="loginbox"/>
				
				<input type="submit" value="SUBMIT" class="loginbutton">
						
			</form>
		</div>
	</div>
</body>