<body id="login">
	<div id = "login">
		<div id="form1">
			<img src="/assets/img/ncshs.gif" id="logo"/>
			<%= form_tag "/students/home" do %>
				<span class = "logintxt">ID Number</span>
					<%= text_field_tag :search_string%>
				<p></p>
				<span id = "logintxt">Password</span>
					<!-- <input type="password" name="password" class="loginbox"/> !-->
				<br>
				<%= submit_tag :submit%>
						
			<% end %>
		</div>
	</div>
</body>