<html>
	<head>
		<title>myNCSHS</title>
		<link rel="stylesheet" href="content.css" type="text/css" />
		<link rel="shortcut icon" href="ncshs.gif"/>
	</head>
	<body>
		<span id="name">Logged in as: JUAN DELA CRUZ, 2nd Year</span>
		<div id="wrapper">
			<div id="menu">
			<img src="img/ncshs.gif" id="logo"/>
			</div>
			<div id="form">
					<a href="index.html" class="menuitem">HOME</a>
					<a href="grades.html" class="menuitem">GRADES</a>
					<a href="schedule.html" class="menuitem" id="current">SCHEDULE</a>
					<a href="curriculum.html" class="menuitem">CURRICULUM</a>
					<a href="NCSHS.html"><img src="img/out.png" id="logout"/></a>
					<a href="profile.html"><img src="img/profile.png" id="profile"/></a>
			</div>
			
			<div id="content">
				<p class="title">Schedule</p>
			</div>
		</div>
	</body>
</html>