<body id="login">
	<div id = "login">
		<div id="form1">
			<img src="/assets/img/ncshs.gif" id="logo"/>
			<%= form_tag "/teachers/home" do %>
				<span class = "logintxt">Teacher ID</span>
					<%= text_field_tag :search_id%>
				<p></p>
				<span id = "logintxt">Password</span>
					<!-- <%= password_field_tag :search_pass%> !-->
				<br>
				<%= submit_tag :submit%>
						
			<% end %>
		</div>
	</div>
</body>